.button {
    font: inherit;
    border: 1px solid #c557db;
    background: #c557db;
    color: white;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
    font-size: 1.15rem;
    border-radius: 5px;
  }
  
  .button:hover,
  .button:active {
    background: #a40c9d;
    border-color: #a40c9d;
  }
  
  .button:focus {
    outline: none;
  }
  
  button:disabled,
  button:focus:disabled,
  button:hover:disabled,
  button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
  }
  